.blokk{
	font-family: "BLOKKNeue-Regular", inherit; 
}

.blokkReg{
	font-family: "BLOKKRegular", inherit; 
}

//Home Banner
#home-banner{
		
		background: url(/img/home-banner.jpg) no-repeat center center;
		// background: 50% 50% no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 300px;

		.container{
			padding-top: 5px;
			padding-bottom: 50px;
			padding-left: 15px;
			padding-right: 15px;
			color: #fff;
			p{
				font-size: 110%;
				line-height: 1.5; 
			}

			/* Small devices (tablets, 768px and up) */
			@media (min-width: @screen-sm-min) { 
				padding-bottom: 75px;
				padding-top: 25px;
			}

			/* Medium devices (desktops, 992px and up) */
			@media (min-width: @screen-md-min) { 
				padding-bottom: 100px;
				padding-top: 50px;
			}

			/* Large devices (large desktops, 1200px and up) */
			@media (min-width: @screen-lg-min) { 
				padding-bottom: 150px;
			}

		
			
		}
	}

//Contact box 
.contact-box address{
	#materialDesign > .shadow();
	padding: 15px; 
	div{text-overflow: ellipsis;}

	h3{
		font-size: 18px; 
		margin-top: 0; 
		margin-bottom: 0; 

		/* Small devices (tablets, 768px and up) */
		@media (min-width: @screen-sm-min) { 
			font-size: 20px;
		}

		/* Medium devices (desktops, 992px and up) */
		@media (min-width: @screen-md-min) { 
			font-size: 20px;
		}

		/* Large devices (large desktops, 1200px and up) */
		@media (min-width: @screen-lg-min) { 
			font-size: 20px;
		}
	}
}

/**
 *	Material Design Mixins 
 *
 */
 #materialDesign {
 	.shadow{
 		box-shadow: 0 1px 10px rgba(0,0,0,.16),0 1px 5px rgba(0,0,0,.10);
		border-radius: .5px;
		border: 0;
 	}
 }


 //Primary color icon drop shadow
 .fa{
 	.dropshadow(@intesity: 35%){

 		text-shadow: 4px 3px 0px darken(@brand-primary, @intesity), 9px 8px 0px rgba(0, 0, 0, 0.15);

 
 	}
 }

#ribbon{


	display: block;
	position: relative;
	background-color: red; 
	top: 50px;
	left: -120px;
	width: 50%;
	height: 1em;


	line-height: 1em; 
	text-align: center;
	opacity: 0.7;

	&:before, &:after{
		// content: "";
		// position: absolute;
		// display: block;
		// bottom: -1em;
		// border: 1.5em solid #986794;
		// z-index: -1;
	}


	//Positioning
	.left-low{

	}

	.left-high{

	}

	.right-low{

	}

	.right-high{

	}
}

