@font-face {
  font-family: 'BLOKKNeue-Regular';
  src: url('../fonts/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.eot');
  src: url('../fonts/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.woff') format('woff'), url('../fonts/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BLOKKRegular';
  src: url('../fonts/BLOKKRegular/webfonts/BLOKKRegular.eot');
  src: url('../fonts/BLOKKRegular/webfonts/BLOKKRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/BLOKKRegular/webfonts/BLOKKRegular.woff') format('woff'), url('../fonts/BLOKKRegular/webfonts/BLOKKRegular.svg#BLOKKRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-bold {
  font-weight: bold;
}
.font-p {
  color: #333333;
}
.font-primary {
  color: #e26e45;
}
.font-white {
  color: #fff;
}
.font-off-white {
  color: #ecf0f1;
}
.font-blue {
  color: #3498db;
}
.font-yellow {
  color: #f1c40f;
}
.font-purple {
  color: #9b59b6;
}
.font-green {
  color: #2ecc71;
}
.font-blue-green {
  color: #1abc9c;
}
.font-red {
  color: #e74c3c;
}
.font-orange {
  color: #e67e22;
}
.font-concrete {
  color: #95a5a6;
}
h1 {
  font-size: 28.8px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  h1 {
    font-size: 32.4px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 34.199999999999996px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 36px;
  }
}
h2 {
  font-size: 24px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  h2 {
    font-size: 27px;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 28.5px;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}
h3 {
  font-size: 19.200000000000003px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  h3 {
    font-size: 21.6px;
  }
}
@media (min-width: 992px) {
  h3 {
    font-size: 22.799999999999997px;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 24px;
  }
}
h4 {
  font-size: 14.4px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  h4 {
    font-size: 16.2px;
  }
}
@media (min-width: 992px) {
  h4 {
    font-size: 17.099999999999998px;
  }
}
@media (min-width: 1200px) {
  h4 {
    font-size: 18px;
  }
}
h5 {
  font-size: 11.200000000000001px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  h5 {
    font-size: 12.6px;
  }
}
@media (min-width: 992px) {
  h5 {
    font-size: 13.299999999999999px;
  }
}
@media (min-width: 1200px) {
  h5 {
    font-size: 14px;
  }
}
.simple-padding-3 {
  padding: 3%;
}
.simple-padding-5 {
  padding: 5%;
}
.blokk {
  font-family: "BLOKKNeue-Regular", inherit;
}
.blokkReg {
  font-family: "BLOKKRegular", inherit;
}
.vertical-align {
  margin-top: auto;
  vertical-align: middle;
}
#home-banner {
  background: url(/img/home-banner.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 300px;
}
#home-banner .container {
  padding-top: 5px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
#home-banner .container p {
  font-size: 110%;
  line-height: 1.5;
}
@media (min-width: 768px) {
  #home-banner .container {
    padding-bottom: 75px;
    padding-top: 25px;
  }
}
@media (min-width: 992px) {
  #home-banner .container {
    padding-bottom: 100px;
    padding-top: 50px;
  }
}
@media (min-width: 1200px) {
  #home-banner .container {
    padding-bottom: 150px;
  }
}
.contact-box address {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: .5px;
  border: 0;
  padding: 15px;
}
.contact-box address div {
  text-overflow: ellipsis;
}
.contact-box address h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .contact-box address h3 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .contact-box address h3 {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contact-box address h3 {
    font-size: 20px;
  }
}
/**
 *	Material Design Mixins 
 *
 */
#materialDesign .shadow {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: .5px;
  border: 0;
}
#ribbon {
  display: block;
  position: relative;
  background-color: red;
  top: 50px;
  left: -120px;
  width: 50%;
  height: 1em;
  line-height: 1em;
  text-align: center;
  opacity: 0.7;
}
body .btn,
body img {
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}
body a {
  transition: font 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
  transition: color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
  transition: width 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
  transition: height 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
  transition: margin 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
  transition: padding 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}
body .fa {
  transition: font-size 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}
body .dropdown-menu {
  transition: font-size 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}
body a:visited {
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body a:active {
  text-decoration: none;
}
#main {
  margin-top: 65px;
  min-height: 800px;
}
.container {
  padding-left: 5px;
  padding-right: 5px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 992px) {
  .container {
    padding-left: 2px;
    padding-right: 2px;
  }
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
body nav {
  /* Medium devices (desktops, 992px and up) */
}
body nav .navbar-brand > img {
  margin-top: -10px;
  padding-left: 5px;
}
@media (max-width: 767px) {
  body nav .navbar-collapse li {
    padding-left: 5%;
  }
}
body nav a {
  transition: all 0.1s ease;
}
body footer#footer {
  padding: 2px;
  background-image: -webkit-linear-gradient(top, #e26e45 0%, #df5d2f 100%);
  background-image: -o-linear-gradient(top, #e26e45 0%, #df5d2f 100%);
  background-image: linear-gradient(to bottom, #e26e45 0%, #df5d2f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe26e45', endColorstr='#ffdf5d2f', GradientType=0);
  padding-top: 40px;
  margin-top: 60px;
  color: white;
}
body footer#footer .container-fluid {
  margin-left: 2%;
  margin-right: 2%;
}
body footer#footer a {
  color: white;
  font-weight: bold;
}
body footer#footer a:hover {
  color: white;
}
body footer#footer img.logo {
  max-width: 250px;
}
.page-home #upcomingEvents p {
  margin: 0;
}
.page-home #upcomingEvents #allEvents {
  margin-top: 15px;
}
@media (max-width: 991px) {
  .page-home #capture h2 {
    font-size: 20px;
  }
}
.page-home #doforyou {
  margin-bottom: 55px;
}
.page-home #doforyou h3 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 55px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-home #doforyou h3 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .page-home #doforyou h3 {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  .page-home #doforyou h3 {
    font-size: 50px;
  }
}
.page-home #doforyou h4 {
  text-align: center;
  font-size: 20px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
}
@media (min-width: 768px) {
  .page-home #doforyou h4 {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .page-home #doforyou h4 {
    font-size: 34px;
  }
}
.page-home #doforyou p {
  text-align: center;
  color: #615c64;
  font-weight: 300;
}
.page-home #doforyou .img-container {
  max-width: 100px;
  max-height: 100px;
}
.page-roster .profile .profile-image {
  width: 20%;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
}
@media (min-width: 768px) {
  .page-roster .profile .profile-image {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .page-roster .profile .profile-image {
    width: 80%;
  }
}
.page-roster .profile .gallery-image img {
  margin-bottom: 5%;
}
.page-dashboard .jumbotron .fa {
  padding-top: 20px;
  text-shadow: 4px 3px 0px #652610, 9px 8px 0px rgba(0, 0, 0, 0.15);
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
@media (min-width: 768px) {
  .page-dashboard .jumbotron .fa {
    font-size: 5em;
  }
}
@media (min-width: 992px) {
  .page-dashboard .jumbotron .fa {
    font-size: 6em;
  }
}
@media (min-width: 1200px) {
  .page-dashboard .jumbotron .fa {
    font-size: 7em;
  }
}
.page-dashboard #menu {
  text-align: center;
}
.page-dashboard #menu .ribbon {
  display: block;
  position: relative;
  background-color: red;
  top: 50px;
  left: -120px;
  width: 50%;
  height: 1em;
  line-height: 1em;
  text-align: center;
  opacity: 0.7;
}
.page-dashboard #menu > div {
  margin-bottom: 10px;
}
.page-dashboard #menu > div > div:not(.clearfix) {
  padding: 15px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: .5px;
  border: 0;
  min-height: 300px;
}
.page-dashboard #menu > div > div:not(.clearfix) .fa.grow {
  font-size: 5em;
  padding: 25px;
  min-height: 150px;
}
.page-dashboard #menu > div > div:not(.clearfix) img.grow {
  height: 5em;
  padding: 25px;
  min-height: 150px;
}
@media (max-width: 767px) {
  .page-dashboard #menu > div > div:not(.clearfix) {
    min-height: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 2px;
  }
  .page-dashboard #menu > div > div:not(.clearfix) .fa.grow,
  .page-dashboard #menu > div > div:not(.clearfix) img.grow {
    font-size: 3em;
    min-height: 0;
  }
  .page-dashboard #menu > div > div:not(.clearfix) img.grow {
    height: 3em;
    padding: 25px;
    min-height: 150px;
  }
}
@media (min-width: 768px) {
  .page-dashboard #menu > div > div:not(.clearfix):hover .fa.grow {
    font-size: 7em;
  }
  .page-dashboard #menu > div > div:not(.clearfix):hover img.grow {
    height: 7em;
  }
}
.page-dashboard #menu > div > div:not(.clearfix):hover a {
  color: #e26e45 !important;
}
.page-dashboard #menu.small-menu > div > div:not(.clearfix) {
  min-height: 300px;
}
@media (max-width: 767px) {
  .page-dashboard #menu.small-menu > div > div:not(.clearfix) {
    min-height: 0;
  }
}
.page-dashboard .roster .fa-trash {
  color: #e74c3c;
}
.page-dashboard .roster .fa-pencil {
  color: #e26e45;
}
.page-staff #staff section {
  padding: 0px 5px 5px 20px;
  margin-bottom: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
}
.page-staff #staff section address {
  font-weight: bold;
  font-size: 130%;
  color: #e26e45;
}
.page-staff #staff section i.fa {
  color: #e26e45;
}
.page-staff #staff section i.fa-mobile {
  font-size: 28px;
  vertical-align: bottom;
}
.page-about div.embed-responsive {
  min-height: 1000px;
}
.page-teams h3.coming-soon {
  color: gray;
}
.page-teams .btn {
  margin-top: 25px;
}
.page-store #items .item {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: .5px;
  border: 0;
}
.page-contact #form-contact {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: .5px;
  border: 0;
  padding: 5px 15px 15px 15px;
}
.page-contact .contact-box address {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: .5px;
  border: 0;
  padding: 15px;
}
.page-contact #contact-list h3 {
  /* Medium devices (desktops, 992px and up) */
}
@media (min-width: 992px) {
  .page-contact #contact-list h3 {
    margin-top: 0px;
  }
}
.page-schedule #all-events section {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: .5px;
  border: 0;
  padding: 15px;
  margin-bottom: 20px;
}
/*****Font aweomse mods****/
.fa-calstack .calendar-text {
  margin-top: .3em;
}
/*****Sliprry ovveride*******/
.sy-pager li.sy-active a {
  background-color: #e26e45;
}
